.filter-bar {
    height: 124px;
    flex-shrink: 0;
    padding: 0px 160px;
    display: flex;
    justify-content: space-between;
}

.filter-by-type {
    display: flex;
    gap: 40px;
    flex-shrink: 0;
    margin-top: 64px;
}

.filter-by-type li {
    list-style: none;
    cursor: pointer;
}

.filter-by-type a{
    text-decoration: underline;
}

.filter-by-type a{
    text-align: center;
    font-family: Saira;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: none;
}

.filter-by-type li a{
    font-weight: 400;
    color: var(--textos-dark-textos-apoio);
}

.filter-by-type li.selected a{
    font-weight: 600;
    color: var(--textos-dark-inputs-icons);
    border-bottom: 4px solid var(--others-orange-low);
}

.filter-container {
    margin-top: 46px;
    position: relative;
    width: 176px;
    z-index: 0;
}
  
.filter-header {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: end;
    gap: 8px;
    padding: 4px 0;
    color: var(--textos-dark-textos-apoio);
    text-align: center;
    font-family: Saira;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
  
.filter-options {
    width: 176px;
    height: 132px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--shapes-01);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
  
.filter-options ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    gap: 6px;
}
  
.filter-options li {
    cursor: pointer;
    color: var(--textos-dark-textos-apoio);
    font-family: Saira;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.filter-options li:hover {
    color: var(--textos-dark-inputs-icons);
}

.filter-options li.selected {
    color: var(--textos-dark-inputs-icons);
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 160px;

}

.products-list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    grid-gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px 4px 4px 4px;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(10px);
    width: 256px;
    height: 378px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform : scale(1.02);
    transition: 0.2s ease-in-out;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 4px 4px 0px 0px;
}

.text {
    display: flex;
    flex-direction: column;
}

.card h3 {
    color: var(--textos-dark-inputs-icons);
    font-family: Saira;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-top: 8px;
}

.card p {
    color: var(--shapes-dark-tooltip, #09090A);
    font-family: Saira;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 8px;
}

.card hr {
    width: 228px;
    height: 1px;
    border: 1px groove var(--shapes-02);
    margin-top: 8px;
    margin-bottom: 8px;
}  

.pagination {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    z-index: 1;
}

.pagination ul {
    list-style-type: none;
    display: flex;
    gap: 2px;
}

.pagination button {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--shapes-light-88-gray);
    color: var(--textos-dark-textos-apoio, #737380);
    text-align: center;
    font-family: Saira;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button:hover {
    background: var(--shapes-light-92-gray);
}

.pagination button.selected {
    color: var(--others-orange-low);
    background: var(--shapes-light-background);
    border: 1px solid var(--others-orange-low);
}

#bottom-pagination {
    margin-bottom: 60px;
}

@media (max-width: 364px) {
    .filter-bar {
        width: 100%;
        padding: 0px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .filter-by-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 16px;
    }

    .filter-by-type li a{
        font-size: 16px;
    }

    .filter-container {
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
    }

    .filter-header {
        font-size: 14px;
        gap: 2px;
    }

    .filter-options {
        width: 90%;
        height: 116px;
        padding: 8px 8px;
    }

    .filter-options li {
        font-size: 13px;
    }

    .products {
        padding: 56px 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, 256px);
        align-item: center;
        grid-gap: 24px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .card {
        width: 256px;
        height: 378px;
        padding: 0;
    }

    .card img {
        width: 100%;
        height: 300px;
        border-radius: 4px 4px 0px 0px;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    .card hr {
        width: 225px;
    }

    .pagination {
        gap: 8px;
        justify-content: center;
    }

    .pagination ul {
        gap: 4px;
    }

    .pagination button {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }

    #bottom-pagination {
        margin-bottom: 0px;
    }
}

@media (min-width: 365px) and (max-width: 576px) {
    .filter-bar {
        width: 100%;
        padding: 0px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .filter-by-type {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 32px;
    }

    .filter-by-type li a{
        font-size: 16px;
    }

    .filter-container {
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 64px;
    }

    .filter-header {
        font-size: 14px;
        gap: 2px;
    }

    .filter-options {
        width: 90%;
        height: 116px;
        padding: 8px 8px;
    }

    .filter-options li {
        font-size: 13px;
    }

    .products {
        padding: 56px 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, 256px);
        justify-content: center;
        align-item: center;
        grid-gap: 24px;
        margin-top: 24px;
        margin-bottom: 32px;
        width: 100%;
    }

    .card {
        width: 100%;
        height: 378px;
        padding: 0;
    }

    .card img {
        width: 100%;
        height: 300px;
        border-radius: 4px 4px 0px 0px;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    .card hr {
        width: 225px;
    }

    .pagination {
        gap: 8px;
        justify-content: center;
    }

    .pagination ul {
        gap: 4px;
    }

    .pagination button {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }

    #bottom-pagination {
        margin-bottom: 0px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .filter-bar {
        width: 100%;
        padding: 0px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-by-type {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 34px;
    }

    .filter-by-type li a{
        font-size: 20px;
    }

    .filter-container {
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 66px;
    }

    .filter-header {
        font-size: 18px;
        gap: 4px;
    }

    .filter-options {
        width: 100%;
        height: 124px;
        padding: 8px 8px;
    }

    .filter-options li {
        font-size: 16px;
    }

    .products {
        padding: 56px 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, 256px);
        align-item: center;
        grid-gap: 24px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .card {
        width: 256px;
        height: 378px;
        padding: 0;
    }

    .card img {
        width: 100%;
        height: 300px;
        border-radius: 4px 4px 0px 0px;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    .card hr {
        width: 225px;
    }

    .pagination {
        gap: 12px;
        justify-content: center;
    }

    .pagination ul {
        gap: 6px;
    }

    .pagination button {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #bottom-pagination {
        margin-bottom: 0px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .filter-bar {
        width: 100%;
        padding: 0px 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-by-type {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 36px;
    }

    .filter-by-type li a{
        font-size: 22px;
    }

    .filter-container {
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 68px;
    }

    .filter-header {
        font-size: 20px;
        gap: 4px;
    }

    .filter-options {
        width: 100%;
        height: 124px;
        padding: 8px 8px;
    }

    .filter-options li {
        font-size: 17px;
    }

    .products {
        padding: 48px 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, 256px);
        align-item: center;
        grid-gap: 32px;
        margin-top: 32px;
        margin-bottom: 48px;
    }

    .card {
        width: 256px;
        height: 378px;
        padding: 0;
    }

    .card img {
        width: 100%;
        height: 300px;
        border-radius: 4px 4px 0px 0px;
    }
    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    .card hr {
        width: 225px;
    }

    .pagination {
        gap: 12px;
        justify-content: center;
    }

    .pagination ul {
        gap: 6px;
    }

    .pagination button {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #bottom-pagination {
        margin-bottom: 0px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .filter-bar {
        height: 124px;
        width: 100%;
        padding: 0px 100px;
        display: flex;
        justify-content: space-between;
    }
    
    .filter-by-type {
        display: flex;
        gap: 40px;
        flex-shrink: 0;
        margin-top: 64px;
    }
    
    .filter-by-type li {
        list-style: none;
        cursor: pointer;
    }
    
    .filter-by-type a{
        text-decoration: underline;
    }
    
    .filter-by-type a{
        text-align: center;
        font-family: Saira;
        font-size: 18px;
        font-style: normal;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        text-decoration: none;
    }
    
    .filter-by-type li a{
        font-weight: 400;
        color: var(--textos-dark-textos-apoio);
    }
    
    .filter-by-type li.selected a{
        font-weight: 600;
        color: var(--textos-dark-inputs-icons);
        border-bottom: 4px solid var(--others-orange-low);
    }
    
    .filter-container {
        margin-top: 46px;
        position: relative;
        width: 176px;
        z-index: 0;
    }
      
    .filter-header {
        cursor: pointer;
        background-color: transparent;
        display: flex;
        justify-content: end;
        gap: 8px;
        padding: 4px 0;
        color: var(--textos-dark-textos-apoio);
        text-align: center;
        font-family: Saira;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */   
        margin-top: 10px;
    }
      
    .filter-options {
        width: 180px;
        height: 132px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--shapes-01);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
        padding: 12px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }
      
    .filter-options ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        gap: 6px;
    }
      
    .filter-options li {
        cursor: pointer;
        color: var(--textos-dark-textos-apoio);
        font-family: Saira;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    
    .filter-options li:hover {
        color: var(--textos-dark-inputs-icons);
    }
    
    .filter-options li.selected {
        color: var(--textos-dark-inputs-icons);
    }
    
    .products {
        padding: 48px 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, 256px);
        align-item: center;
        grid-gap: 24px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .card {
        width: 256px;
        height: 378px;
        padding: 0;
    }

    .card img {
        width: 100%;
        height: 300px;
        border-radius: 4px 4px 0px 0px;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    .card hr {
        width: 225px;
    }
    
    .pagination {
        gap: 12px;
        justify-content: end;
    }

    .pagination ul {
        gap: 6px;
    }

    .pagination button {
        width: 36px;
        height: 36px;
        font-size: 18px;
    }
}
